* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(201, 198, 198);
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.pomodoro-timer {
    display: flex;
    flex-direction: row;

}

.pomodoro-timer h1 {
    font-size: 100px;
    margin: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.right-containers {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;

}



.custom-slider {
    width: 492px;
    height: 492px;
    margin-bottom: 150px;
    position: relative;
    transform: rotate(-90deg);

}

#time-left {
    transform: rotate(90deg);
}

.outer {
    width: 492px;
    height: 492px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 20px;

}

.custom-slider .fill {
    width: 452px;
    height: 452px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);


}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 0;

    animation: anim calc((var(--c))*1s);
    transition-timing-function: linear;

}

@keyframes anim {
    100% {
        stroke-dashoffset: 1500;
    }

    50% {
        stroke-dashoffset: 750;
    }
}

.paused {
    animation-play-state: paused;
}


svg {
    position: absolute;
    top: 0;
    left: 0;
}

.play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 50px;
    background: #2F2F2F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.right-containers .option-container {
    display: flex;
    justify-content: center;
    background-color: #2F2F2F;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    margin: 83px 34px 0px 34px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2F2F2F;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 0 20px;
    margin: 34px 0 34px 34px;
    position: absolute;
}



.option-container button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 137px;
    border-radius: 10px;
    padding: 10px 0 10px;
    margin: 5px;
    background-color: #3A3A3A;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;

}

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 305px;
    align-items: center;
    margin: 10px;
}

.tasks-container .tasks-block {
    width: 100%;
    background: white;
    height: 96px;
    display: flex;
    text-align: left;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    background-color: #3A3A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



}

.tasks-container .controller-btn {

    width: 102px;
    height: 96px;
    border-radius: 0 10px 10px 0;
    background-color: #3A3A3A;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.tasks-container .controller-btn:active {
    background-color: #181818;
}

.tasks-container .tasks-block p {
    width: 250px;
    padding: 37px 25px 25px 0;
    font-size: 16px;


}

.tasks-container .tasks-block img {
    filter: invert(99%) sepia(11%) saturate(313%) hue-rotate(233deg) brightness(116%) contrast(100%);
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}

button.play-container {
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.play-container img {
    margin-right: 30px;

}

.option-container button:active {
    background-color: #181818;
}

button.play-container:active {
    background-color: #181818;
}

.input-container {
    width: 305px;
    height: 96px;
    background: #3A3A3A;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    margin: 14px;

}

.input-container input {
    width: 75%;
    background-color: #3A3A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    font-size: 16px;

}

input:focus {
    outline: none;
}

.input-container button {
    width: 25%;
    color: white;
    background-color: #3A3A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;

}

.input-container button:active {
    background-color: #181818;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.controller-btn {
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.active-btn {
    background-color: red;
    color: red;
}

.hide {
    display: none;
}